.working-orders {
  margin: 12px 0px 12px;
}

.working-orders .list-group .list-group-item {
    overflow-x: scroll;
    white-space: nowrap;
}

.working-orders .list-group-item span {
  padding: 0px 10px 0px;
}

